<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.isite.tenant.mapper.EmployeeRoleMapper">

    <select id="selectRoles" resultType="RolePo">
        SELECT `id`, `name`, `remark`, `tenant_id`, `create_time`, `update_time`
        FROM `role`
        WHERE `id` IN (
            SELECT `role_id`
            FROM `employee_role`
        WHERE `employee_id` = #{employeeId})
    </select>
</mapper>
