<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.isite.tenant.mapper.ResourceApiMapper">

    <select id="selectDataApis" resultType="DataApiPo">
        SELECT `id`, `service_id`, `method`, `path`, `doc_url`, `status`, `remark`, `create_time`, `update_time`
        FROM `data_api`
        WHERE `id` IN (
            SELECT `api_id`
            FROM `resource_api`
            WHERE `resource_id` in
        <foreach open="(" collection="resourceIds" separator="," item="resourceId" close=")">
            #{resourceId}
        </foreach>
    </select>
</mapper>
