<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.isite.tenant.mapper.TenantMapper">

    <select id="selectByUserId" resultType="TenantPo">
        SELECT `id`, `name`, `remark`, `status`, `contact`, `phone`, `create_time`, `update_time`
        FROM `tenant`
        WHERE `id` IN (
            SELECT `tenant_id`
            FROM `employee`
            WHERE `user_id` = #{userId})
    </select>
</mapper>
