<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.isite.operation.mapper.ScoreRecordMapper">

    <select id="selectTotalScore" resultType="long">
        select sum(score_value)
        from score_record
        where activity_id = #{activityId} and user_id = #{userId}
    </select>
</mapper>
